/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
/***VARIBLE STYLES**/
h1 {
  font-family: 'Shadows Into Light', cursive;
  font-size: 2.5rem;
}
h2 {
  font-size: 1.5rem;
}
.wrapper {
  border: solid red;
  padding: 0 15px;
  height: 100%;
  width: 100%;
}
header {
  display: flex;
  justify-content: flex-end;
  border: solid red;
  margin: 3% 0;
}
header nav {
  display: flex;
}
header a {
  justify-content: space-between;
  border: solid green;
  text-decoration: none;
}
.top-container {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
}
.top-container .image {
  width: auto;
  height: 75%;
  border: green solid;
  display: flex;
}
.top-container .image img {
  height: 300px;
  width: auto;
}
.top-container .image h1 {
  justify-content: center;
  text-align: center;
}
.intro {
  width: 40%;
  display: flex;
  flex-direction: column;
  border: yellow solid;
}
.intro h2 {
  text-align: center;
  margin: 2%;
}
.intro p {
  margin: 2%;
}
.intro button {
  display: flex;
  width: 50%;
  height: 50%;
  text-align: center;
}
.bio-skills {
  border: solid black;
  margin-top: 2%;
  display: flex;
  justify-content: space-between;
  height: 40%;
}
.bio-skills .left-side {
  border: blue dotted;
  width: 25%;
}
.bio-skills h2 {
  text-align: center;
}
.bio-skills .right-side {
  border: red dotted;
}
.bio-skills h2 {
  text-align: center;
}
.bio-skills p {
  align-content: space-around;
  border: grey solid 1px;
  text-align: center;
}
.bottom-section {
  margin-top: 2%;
  border: solid orange;
}
